<ion-header>
  <ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Distribuir Tarefas</ion-title>
</ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="insertRegister(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Nome do Registro*</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.name.dirty && formGroup.controls.name.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Data Inicial*</ion-label>
      <ion-input formControlName="initialDate" type="date"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.initialDate.dirty && formGroup.controls.initialDate.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Data Final*</ion-label>
      <ion-input formControlName="finalDate" type="date"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.finalDate.dirty && formGroup.controls.finalDate.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Prêmio*</ion-label>
      <ion-input formControlName="reward" type="text"></ion-input>
    </ion-item> 
    <p class="danger" *ngIf="formGroup.controls.reward.dirty && formGroup.controls.reward.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label>Selecione os participantes</ion-label>
      <ionic-selectable
        item-content
        [(ngModel)]="users"
        itemTextField="username"
        [items]="listUsers"
        [canClear]="true"
        [isMultiple]="true"
        [canSearch]="true"
        (onChange)="userChanged($event)"
        noItemsFoundText="Usuário não encontrado"
        clearButtonText="Limpar"
        formControlName="users"
        >
      </ionic-selectable>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.users.dirty && formGroup.controls.users.errors" margin-left>Valor inválido</p>
    <ion-item>
      <form (ngSubmit)="addTask(); $event.preventDefault()">
        Adicione as tarefas
        <button ion-button icon-only light small outline item-end type="submit">
        <ion-icon name="add"></ion-icon>
       </button>
      </form>
    </ion-item>
    <form>
      <ion-list *ngIf="show" no-lines>
          <ion-list-header>
            Tarefas
          </ion-list-header>
          <ion-item-sliding *ngFor="let task of tasks">
              <ion-item>
                  <p>{{task.name}}</p>
              </ion-item>
              <ion-item-options>
                  <button ion-button icon-only (click)="editTask(task)" light>
                      <ion-icon name="paper"></ion-icon>
                  </button>
                  <button ion-button icon-only (click)="deleteTask(task)" danger>
                      <ion-icon name="trash"></ion-icon>
                  </button>
              </ion-item-options>
          </ion-item-sliding>
      </ion-list>
    </form>
    <br />
    <button ion-button block type="submit">Cadastrar</button>
  </form>
</ion-content>
