<ion-header>
  <ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Distribuir Tarefas</ion-title>
</ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="insertRegister(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Nome do Registro*</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.name.dirty && formGroup.controls.name.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Data Inicial*</ion-label>
      <ion-input formControlName="initialDate" type="date"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.initialDate.dirty && formGroup.controls.initialDate.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Data Final*</ion-label>
      <ion-input formControlName="finalDate" type="date"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.finalDate.dirty && formGroup.controls.finalDate.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Prêmio*</ion-label>
      <ion-input formControlName="reward" type="text"></ion-input>
    </ion-item> 
    <p class="danger" *ngIf="formGroup.controls.reward.dirty && formGroup.controls.reward.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label>Selecione os participantes</ion-label>
      <ionic-selectable
        item-content
        [(ngModel)]="selectedUsers"
        itemTextField="username"
        [items]="users"
        [canClear]="true"
        [isMultiple]="true"
        [canSearch]="true"
        (onChange)="userChanged($event)"
        noItemsFoundText="Usuário não encontrado"
        clearButtonText="Limpar"
        formControlName="validateSelectUser"
        >
      </ionic-selectable>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.validateSelectUser.dirty && formGroup.controls.validateSelectUser.errors" margin-left>Valor inválido</p>
    <ion-item>
      <form (ngSubmit)="addTask(); $event.preventDefault()">
        <p>Adicione as tarefas</p>
        <button ion-button icon-only light small outline item-end type="submit">
        <ion-icon name="add"></ion-icon>
       </button>
      </form>
    </ion-item>
    <ion-list *ngIf="show" no-lines>
        <ion-list-header>
          Tarefas
        </ion-list-header>
        <ion-item-sliding *ngFor="let task of tasks">
            <ion-item>
                <p>{{task.name}}</p>
            </ion-item>
            <!-- <ion-item-options>
                <button ion-button icon-only (click)="editNote(note)" light>
                    <ion-icon name="paper"></ion-icon>
                </button>
                <button ion-button icon-only (click)="deleteNote(note)" danger>
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options> -->
        </ion-item-sliding>
    </ion-list>
    <br />
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Cadastrar</button>
  </form>
</ion-content>
