<ion-header>
    <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tarefas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item *ngIf="arrayItemsEmpty" no-lines>
    <p style="text-align: center;">Você não possui tarefas.</p>
  </ion-item>
  <ion-list *ngIf="arrayItemsEmpty == false">
    <ion-item-sliding *ngFor="let item of items" text-wrap>
      <ion-item no-lines>
        <h3 text-center>{{ item.name }}</h3>
        <p>Tipo do Registro: {{ item.register.name }}</p>
        <p>Descrição da tarefa: {{ item.description }}</p>
        <p>Premiação: {{ item.register.reward }}</p>
        <p>Data inicial: {{ item.register.initialDate }}</p>
        <p>Data Final: {{ item.register.finalDate }}</p>
        <form (ngSubmit)="changeStatus(item); $event.preventDefault()">
            <ion-buttons end>
              <button type="submit" ion-button small outline end style="color:'{{item.status == 'Em andamento' ? 'orange' : 'green' }};'">{{ item.status }}</button>
            </ion-buttons>
        </form>
      </ion-item>
    <ion-item>

    </ion-item>
  </ion-item-sliding>
  </ion-list>
  <ion-fab title="Distribuir Tarefas" bottom right>
      <button navPush="RegisterPage" ion-fab mini>
        <ion-icon name="add"></ion-icon>
      </button>
  </ion-fab>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
